<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
    <display-name>Verso</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:/spring/securityContext.xml,
            classpath:/spring/applicationContext.xml
        </param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
        <url-pattern>*.html</url-pattern>
        <url-pattern>*.jsp</url-pattern>
        <url-pattern>/saml/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>StripesFilter</filter-name>
        <filter-class>net.sourceforge.stripes.controller.StripesFilter</filter-class>
        <init-param>
            <param-name>ActionResolver.Packages</param-name>
            <param-value>net.datasiel.simpaweb.actionbeans</param-value>
        </init-param>
        <init-param>
            <param-name>Interceptor.Classes</param-name>
            <param-value>net.sourceforge.stripes.integration.spring.SpringInterceptor,
                net.sourceforge.stripes.controller.BeforeAfterMethodInterceptor, 
                net.datasiel.webapp.ApplicationInterceptor,
                net.datasiel.webapp.CleanUpInterceptor</param-value>
        </init-param>
        <init-param>
            <param-name>ActionBeanContext.Class</param-name>
            <param-value>net.datasiel.webapp.DtsActionBeanContext</param-value>
        </init-param>
        <init-param>
            <param-name>ExceptionHandler.Class</param-name>
            <param-value>it.eng.parer.simparer.security.VersoExceptionHandler</param-value>
        </init-param>
        <init-param>
            <param-name>FileUpload.MaximumPostSize</param-name>
            <param-value>1gb</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>StripesFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher> 
    </filter-mapping>
    <filter>
        <filter-name>DynamicMappingFilter</filter-name>
        <filter-class>net.sourceforge.stripes.controller.DynamicMappingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DynamicMappingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ConfigServlet</servlet-name>
        <servlet-class>it.eng.spagoCore.configuration.ConfigServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
     <servlet>
        <servlet-name>AppInfosSrvlt</servlet-name>
        <servlet-class>it.eng.parer.restws.AppInfosSrvlt</servlet-class>
    </servlet>
   <servlet-mapping>
        <servlet-name>AppInfosSrvlt</servlet-name>
        <url-pattern>/admin/infos</url-pattern>
    </servlet-mapping>
    <session-config>
         <cookie-config>
             <http-only>${web.session-config.cookie-config.http-only}</http-only>
             <secure>${web.session-config.cookie-config.secure}</secure>
          </cookie-config>
          <tracking-mode>COOKIE</tracking-mode>
    </session-config>
    
   <error-page>
        <error-code>401</error-code>
        <location>/pages/NotAuthorized.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/pages/NotAuthorized.jsp</location>
    </error-page>
 	<error-page>
        <error-code>500</error-code>
        <location>/pages/error.jsp</location>
    </error-page>

  
</web-app>
